body {
    text-align: center;
}

header {
    height: 100px;
    background: #dbdbdb;
    width: 100%;
    z-index: 10;
    position: fixed;
}

#banner {
    background: url("MeandLion.jpeg") no-repeat center;
    background-size: cover;
    width: 99%;
    height: 500px;
    position: fixed;
    top: 100px;
}

#content {
    width: 100%;
    position: relative;
    top: 800px;
    background: #ebebeb;
    height: 600px;
}