body {
    text-align: center;
}

header {
    height: 50px;
    background: #dbdbdb;
    width: 100%;
    z-index: 10;
    position: fixed;
}

#banner {
    background: url("MeandLion.jpeg") no-repeat center;
    background-size: cover;
    width: 99%;
    height: 500px;
    position: fixed;
    top: 50px;
}

#content {
    width: 100%;
    position: relative;
    top: 550px;
    background: #ebebeb;
    height: 600px;
}

.firstSection {
    display: inline-block;
    width: 150px;
    height: 175px;
    margin: 10px;
    border: 3px solid #73AD21;
}